#ie5menu {
  background-color: #555;
  border-bottom: #000000 0px solid;
  border-left: #000000 0px solid;
  border-right: #000000 0px solid;
  border-top: #000000 0px solid;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 13px;
  position: absolute;
  visibility: hidden;
  /*display: none;*/
  width: 114px;
  border-radius: 15px;
  text-align: center;
}

.menuitems {
  padding: 4.5px;
  transition: all 0.3s;
  text-align: left;
  display: inline-block;
}

.menuitems:hover {
  background-color: #ffffff;
  color: black;
}